<!DOCTYPE html>
{% extends "music/base_for_album_detail.html" %}
{% load static %}
<html lang="en" xmlns="">
{% block title %}
    {{ album.name }}
{% endblock %}
</head>
<body>
{% block content %}
    <div class="main-player">

        <div class="song">
            <audio id="mysong" preload="auto" src="{{ song.file.url|safe }}">
                Your browser does not support the audio element.
            </audio>
        </div>

        <p id="logo"><i class="fa fa-music" aria-hidden="true"></i>music</p>
        <div class="left">
            <img id="track_image">
            <div class="volume">
                <p id="volume_show">90</p>
                <i class="fa fa-volume-up" aria-hidden="true" id="volume_icon" onclick="mute_sound()"></i>
                <input type="range" min="0" max="100" value="90" onchange="volume_change()" id="volume">
            </div>
        </div>
        <div class="right">
            <div class="show_song_no">
                <p id="present">{{ song.number_in_album }}</p>
                <p>/</p>
                <p id="total">{{ songs_count }}</p>
            </div>

            <p id="title">title.mp3</p>
            <p id="artist">artist name</p>
            <p id="album_name">{{ album.name }}</p>

            <div class="middle">
                {% if song.number_in_album > 1 %}
                    <button onclick="location.href='{% url 'music:album_detail' album.id album.slug number|add:"-2" %}'"
                            id="next"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
                {% endif %}

                <button onclick="justplay()" id="play"><i class="fa fa-play" aria-hidden="true"></i></button>
                {% if song.number_in_album < songs_count %}
                    <button onclick="location.href='{% url 'music:album_detail' album.id album.slug number %}'"
                            id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                {% endif %}
            </div>


            <div class="duration">
                <div class="current-time">00:00</div>
                <input type="range" min="0" max="100" id="duration_slider" onchange="change_duration()">
                <div class="total-duration">00:00</div>
            </div>

            {% if user.is_authenticated %}
                <div class="star">
                    <form class="rate-form" action="" method="POST" id="{{ album.id }}">
                        {% csrf_token %}

                        <button type="submit" class="fa fa-star" id="first"></button>
                        <button type="submit" class="fa fa-star" id="second"></button>
                        <button type="submit" class="fa fa-star" id="third"></button>
                        <button type="submit" class="fa fa-star" id="fourth"></button>
                        <button type="submit" class="fa fa-star" id="fifth"></button>


                    </form>
                </div>
                <div id="confirm-box"></div>
                <br>
                <div class="playlist-form">
                <br>
                    <br>
                    <form id="playlist-form" method="post">
                        {{ playlist_form.as_p }}
                        {% csrf_token %}
                        <input type="submit" value="Add to playlist">


                    </form>
                </div>

                <button class="add_to_f">
                    <a href="{% url 'music:add_album' id=album.id %}" class="yellow">Add to Favourites</a>
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}
</body>

</html>
