{% extends "music/base.html" %}
{% load static %}
{% block title %}
New Albums
{% endblock %}
{% block content %}



<section id="album">
    <h1>Artists</h1>
    <div class="album-box">
        {% for artist in page_obj %}
        <div class="albums">
            <a href="{{ artist.get_absolute_url }}">
                <img src="{{ artist.image.url }}" style="height: 250px;"></a>
            <div class="details">
                <a href="{{ artist.get_absolute_url }}"><h6>{{ artist.name }}</h6></a>
            </div>
        </div>
        {% endfor %}

    </div>
</section>




{% endblock %}