<!DOCTYPE html>

{% extends "music/base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <section id="home">
        <h2>Welcome to DimkaMusic Web App</h2>
        <p>This site allows you listen music by albums, create your own playlists or listen random songs.</p>
        <div class="btn">
                <a class="blue" href="{% url 'music:albums' %}">To albums</a>
                <a class="yellow" href="{% url 'music:new_albums' %}">News</a>
        </div>
    </section>

    <section id="album">
        <h1>Albums</h1>

        <div class="album-box">
            {% for album in albums %}
                <div class="albums">
                    <a href="{{ album.get_absolute_url }}">
                        <img src="{{ album.image.url }}" height="50"></a>
                    <div class="details">
                        <span>{{ album.artist }}</span>
                        <a href="{{ album.get_absolute_url }}"><h6>{{ album.name }}</h6></a>
                        <div class="star">
                            {{ album.rating }}
                            {% for i in '12345'|make_list %}
                                {% if forloop.counter <=  album.rating %}
                                    <span class="fa fa-star checked"></span>
                                {% else %}
                                    <span class="fa fa-star"></span>
                                {% endif %}
                            {% endfor %}
                            <span>({{ album.rating_count }})</span>
                        </div>
                        <div id="confirm-box"></div>
                        <p class="tags">
                            Tags:
                            {% for tag in album.tags.all %}
                                <a href="{% url "music:albums_by_tag" tag.slug %}">
                                    {{ tag.name }}
                                </a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
    {% if user.is_authenticated %}
    {% else %}
        <section id="registration">
            <div class="reminder">
                <p>Listen Over 100 Albums</p>
                <h1>Register To Listen It</h1>
            </div>
            <div class="form">
                <form action="." method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <div class="btn">
                        <p><input class="yellow" type="submit" value="Register"></p>
                    </div>
                </form>
            </div>

        </section>
    {% endif %}
{% endblock %}
</body>
</html>