
<!DOCTYPE html>

{% extends "music/base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content%}
<section id="home">
        <h2>Welcome to DimkaMusic Web App</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est
            laborum."</p>
        <div class="btn">
            <a class="blue" href="#">To albums</a>
            <a class="yellow" href="#">News</a>
        </div>
    </section>

    <section id="album">
        <h1>Albums</h1>
        <p>Lorem ipsum fgdjhgjdfhghudfhvu udfhug hdfuhgdf u fdhgu</p>
        <div class="album-box">
            {% for album in albums %}
            <div class="albums">
                <a href="{{ album.get_absolute_url }}">
                <img src="{{ album.image.url }}"></a>
                <div class="details">
                    <h6>{{ album.artist }}</h6>
                    <span>{{ album.year }}</span>
                    <a href="{{ album.get_absolute_url }}"><h6>{{ album.name }}</h6></a>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>(239)</span>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
    <section id="registration">
        <div class="reminder">
            <p>Listen Over 100 Albums</p>
            <h1>Register To Listen It</h1>
        </div>
        <div class="form">
            <h3>Create Free Account Now!</h3>
            <input type="text" placeholder="Name" name="">
            <input type="text" placeholder="Email Address" name="">
            <input type="text" placeholder="Password" name="">
            <div class="btn">
                <a class="yellow" href="#">Submit Form</a>
            </div>
        </div>
    </section>
{% endblock %}
</body>
</html>