{% extends "music/base.html" %}

{% load static %}

{% block content %}

    <section id="album">
        {% if results.album_list %}
            <h1>Albums</h1>
            <div class="album-box">
                {% for album in results.album_list %}

                <div class="albums">
                    <a href="{{ album.get_absolute_url }}">
                        <img src="{{ album.image.url }}" height="50"></a>
                    <div class="details">
                        <span>{{ album.artist }}</span>
                        <a href="{{ album.get_absolute_url }}"><h6>{{ album.name }}</h6></a>
                        <div class="star">
                            {{ album.rating }}
                            {% for i in '12345'|make_list %}
                                {% if forloop.counter <=  album.rating %}
                                    <span class="fa fa-star checked"></span>
                                {% else %}
                                    <span class="fa fa-star"></span>
                                {% endif %}
                            {% endfor %}
                            <span>({{ album.rating_count }})</span>
                        </div>
                        <div id="confirm-box"></div>
                        <p class="tags">
                            Tags:
                            {% for tag in album.tags.all %}
                                <a href="{% url "music:albums_by_tag" tag.slug %}">
                                    {{ tag.name }}
                                </a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>

                {% endfor %}

            </div>
        {% endif %}
    {% if results.artist_list %}
        <h1>Artists</h1>
        <div class="album-box">
            {% for artist in results.artist_list %}
                <div class="albums">
                        <a href="{{ artist.get_absolute_url }}">
                            <img src="{{ artist.image.url }}" style="height: 30%; width: auto"></a>
                        <div class="details">

                            <a href="{{ artist.get_absolute_url }}"><h6>{{ artist.name }}</h6></a>

                        </div>
                    </div>
            {% endfor %}

        </div>
    {% endif %}
    </section>

{% endblock %}