{% extends "music/base.html" %}
{% load static %}
{% block title %}Profile page{% endblock %}
{% block content %}
<section id="album">
<div class="profile_page">
<div class="wrapper">
    <div class="profile_left">
        {% if user_profile.photo %}
        <img src="{{ user_profile.photo.url }}" alt="user" width="150" height="auto">
        {% else %}
                    <img src="{% static 'images/profile.png' %}" alt="user" width="150">
        {%  endif %}
    <br>
        <h4 style="font-size: 25px">{{user.username}}</h4>
<br>
    <a href="{% url 'accounts:profile_edit' %}" style="color: #FDC93B">
                Edit photo
            </a>
    </div>
    <div class="profile_right">

        <div class="profile_info">
            <h3>Information</h3>
            <div class="profile_info_data">
                <div class="profile_data">
                    <h4>Email</h4>
                    <p>{{user.email}}</p>
                </div>
                <div class="profile_data">
                    <h4>Date joined</h4>
                    <p>{{user.date_joined}}</p>
                </div>
            </div>
        </div>

        <div class="projects">
            <h3>Projects</h3>
            <div class="projects_data">
                <div class="profile_data">
                    <h4>Total Albums in Favourites</h4>
                    <p>{{ total_albums }}</p>
                </div>
                <div class="profile_data">
                    <h4>Total Songs</h4>
                    <p>{{ total_songs }}</p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}